body{ 
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p{
    text-align: center;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}
form{
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    border-color: #161616;       
}
input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border-color: black;
}
.form select{
    width: 100px;
    padding: 10px 15px;
    font-size: 17px; 
}

label{
    color: #161616;
    font-size: 20px;
    padding: 10px;
}

.btn{
    color:rgb(248, 248, 248);
    font-family: sans-serif;
    font-size: 20px;
    border-radius:30px;
    background-color: #171adbe0;
}
button{
    color:rgb(248, 248, 248);
    font-family: sans-serif;
    font-size: 20px;
    border-radius:30px;
    background-color: #171adbe0;
}

.form-btn:hover{
    background-color: rgb(228, 127, 11);
}
button:hover{
    background-color: rgb(228, 127, 11);
}
